<!DOCTYPE html>
<html>
<head>
    <title>Blog Search</title>
</head>
<body>
    <h1>Blog Search</h1>
    <form action="/api/blog-search" method="GET">
        <label for="query">Search for blogs:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
